<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div class="card shadow">
        <h4 class="card-header"> [[${project.team.name}]] > Modify Project</h4>
        <div class="card-body">
            <form th:action="@{|/project/modify|}" th:object="${projectModifyForm}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <input type="hidden" name="id" th:value="${project.id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${project.name}" placeholder="프로젝트명을 입력해 주세요">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="프로젝트 설명을 입력해 주세요">[[${project.description}]]</textarea>
                </div>
                <button type="submit" class="btn btn-primary float-end btn-sm">프로젝트 수정</button>
            </form>
        </div>
    </div>

</div>