<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="max-width:1200px" class="py-5 px-3 w-100 bg-body">
        <!--  top_section      -->
        <div class="d-flex justify-content-between">
            <!-- category           -->
            <span class="fs-1 fw-bold">#Front</span>
            <!-- popular, new, like item-box     -->
            <div class="d-flex align-items-center">
                <span>sort by:</span>
                <button type="button" class="btn">
                    New
                </button>
            </div>
        </div>
        <!--  articles     -->
        <div class="d-flex border border-black">
            <!-- subject content _ author hit like comment numbers -->
            <div style="box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="border d-flex flex-column flex-grow-1">
                <a style="text-decoration: none; outline: none;" href="#" class="fs-2 fw-bold flex-grow-1 text-black" >[subject1]</a>
                <p style="height:auto" class="text-body-secondary overflow-hiddenflex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab asperiores, aspernatur at consectetur consequuntur cum deleniti ea eius ipsum non nulla officiis pariatur perferendis quod reprehenderit, saepe tempora tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum deleniti eaque esse nulla numquam obcaecati praesentium quam sunt. Dolorem ducimus earum illo laudantium odio omnis perferendis quae quaerat vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum est excepturi facere illo laborum, natus officia quasi reprehenderit voluptatem! Doloribus harum officiis perspiciatis? Fugiat reprehenderit saepe sint totam voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores deleniti doloremque eum excepturi fuga inventore ipsam iusto non obcaecati, possimus totam ullam veniam? Aliquam atque expedita illum qui vitae?</p>
                <div class="flex-grow-1">
                    <span>author</span>
                </div>
            </div>
            <!-- 프로필 이미지 -->
            <div class="flex-grow-1">
                <h2>profile</h2>
            </div>
        </div>
        <div style="box-sizing: border-box;" class="d-flex border border-black ">

            <!-- subject content _ author hit like comment numbers -->
            <div style="box-shadow: 0 3px 3px rgba(0,0,0,0.2); box-sizing: border-box;" class="border d-flex flex-column flex-grow-1 m-10">
                <a style="text-decoration: none; outline: none;" href="#" class="fs-2 fw-bold flex-grow-1 text-black" >[subject2]</a>
                <p style="height:auto" class="text-body-secondary overflow-hiddenflex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab asperiores, aspernatur at consectetur consequuntur cum deleniti ea eius ipsum non nulla officiis pariatur perferendis quod reprehenderit, saepe tempora tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum deleniti eaque esse nulla numquam obcaecati praesentium quam sunt. Dolorem ducimus earum illo laudantium odio omnis perferendis quae quaerat vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum est excepturi facere illo laborum, natus officia quasi reprehenderit voluptatem! Doloribus harum officiis perspiciatis? Fugiat reprehenderit saepe sint totam voluptates! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores deleniti doloremque eum excepturi fuga inventore ipsam iusto non obcaecati, possimus totam ullam veniam? Aliquam atque expedita illum qui vitae?</p>
                <div class="flex-grow-1">
                    <span>author</span>
                </div>
            </div>
            <!-- 프로필 이미지 -->
            <div class="flex-grow-1">
                <h2>profile2</h2>
            </div>
        </div>
    </div>

</div>
</html>