<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="max-width:1200px" class="py-4 px-3 w-100 bg-body">
        <!--  top_section      -->
        <div class="d-flex  mb-2">
            <!-- category           -->
            <span class="fs-1 flex-grow-1">#SearchList</span>
            <!-- search -->
<!--            <div class="input-group p-3 flex-grow-1">-->
<!--                <input type="text" id="search_kw" class="form-control" th:value="${keyword}">-->
<!--                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>-->
<!--            </div>-->
            <!-- popular, new, like item-box     -->
            <div class="d-flex align-items-center text-secondary flex-grow-2">
                <span class="fw-bold text-secondary">sort by:</span>
                <button type="button" class="btn fw-bold">
                    <span class="mx-1">✨ </span> New
                </button>
                <button type="button" class="btn fw-bold">
                    <span class="mx-1">💥</span>Popular
                </button>
                <button type="button" class="btn fw-bold">
                    <span class="mx-1">👍</span>Like
                </button>
            </div>
        </div>
        <!--  articles     -->
        <div th:each="article : ${paging}" class="d-flex shadow border-bottom border-black mb-3">
            <!-- subject content _ author hit like comment numbers -->
            <div class="d-flex flex-column flex-grow-1 ps-3 pb-3">
                <!--subject th:href_fix_need-->
                <a style="text-decoration: none; outline: none;"
                   class="fs-2 fw-bold flex-grow-1 text-black" th:href="@{|detail/${article.id}|}"
                   th:text="${article.subject}"></a>
                <!-- img -->
                <div style="width:700px; height: 160px; overflow:hidden">
                    <a th:if="${article.thumbnailImg != null}" th:href="@{|detail/${article.id}|}"><img
                            th:src="@{|/file/${article.thumbnailImg}|}" alt="사진"></a>
                </div>
                <!--content-->
                <p style="max-width: 850px; text-overflow: ellipsis; overflow: hidden; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; word-wrap:break-word; line-height:20px; max-height: 60px; text-align: left;"
                   class="text-body-secondary flex-grow-1" th:text="${article.content}"></p>

                <!-- author, createTime, comment, like, hit    -->
                <div style="font-size: 14px;" class="d-flex flex-grow-1 text-secondary align-items-center ">
                    <div>by
                        <button style="color: gray;" tabindex="0" class="btn btn-sm fw-bold" role="button"
                                data-bs-toggle="popover" data-bs-trigger="focus"
                                data-bs-content="profile"
                                th:text="${article.author.nickname}">
                            <a href="">profile</a>
                        </button>
                        > <span class="mx-2">•</span>
                    </div>
                    <!--   createDate  -->
                    <div th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd')}"></div>
                    <span class="mx-2">•</span>
                    <!--  if comment is null no comment -->
                    <div th:if="${article.getAnswerList.size() > 0 || article.getAnswerList != null}"><span>💬</span>[[${article.getAnswerList().size()}]]
                        <span class="mx-2">•</span></div>
                    <!--    like       -->
                    <div><span>👍</span><span th:text="${#lists.size(article.voter)}"></span><span class="mx-2">•</span>
                    </div>
                    <!--   hit    -->
                    <div><span>👀</span>[[${article.hit}]]</div>

                </div>
            </div>
            <!-- 프로필 이미지 -->
            <div class="d-flex align-items-center">
                <a th:href="@{|/user/profile/${article.author.id}|}">
                    <div style="width: 150px; height: 150px; border-radius: 70%; overflow: hidden; "
                         class="border border-black">
                        <img th:src="${article.author.profileImg}"
                             alt="testImg" style="">
                    </div>
                </a>
            </div>
        </div>
        <!-- article_create button -->
        <a th:if="${@rq.isLogin()}" th:href="@{/article/create}" class="btn btn-primary">글쓰기</a>
        <!-- paging_start -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- paging_end -->
        <!-- searchForm  -->
<!--        <form th:action="@{|/article/list|}" method="get" id="searchForm">-->
<!--            <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">-->
<!--            <input type="hidden" id="page" name="page" th:value="${paging.number}">-->
<!--        </form>-->
    </div>
    <!-- popover JS -->
    <script th:inline="javascript">
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

        var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
   trigger: 'focus'
 })

    </script>
    <!-- search JS -->
    <script th:inline="javascript">
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchFormN').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function() {
            document.getElementById('keyword').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;
            document.getElementById('searchForm').submit();
        });
    </script>
</div>
</html>