<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:500px;">
    <div class="card mb-3" style="width:500px;">
        <div class="card-header ">
            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#findid" role="tab" aria-controls="findid" aria-selected="true">ID찾기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#findpw" role="tab" aria-controls="findpw" aria-selected="false">비밀번호
                        찾기</a>
                </li>
            </ul>
        </div>
        <!-- 아이디 찾기 -->
        <div class="card-body">
            <div class="tab-content mt-3 ">
                <div class="tab-pane active" id="findid" role="tabpanel">
                        <form th:action="@{/user/findid/email}" method="post">
                            <div class="mb-3">
                                <label for="usernameEmail" class="form-label">닉네임</label>
                                <input type="text" name="usernameEmail" id="usernameEmail" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">이메일</label>
                                <input type="email" name="email" id="email" class="form-control"
                                       placeholder="'회원가입 시 등록한 이메일 주소 입력'">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom:10px;">이메일 인증하기</button>
                        </form>
                    <form th:action="@{/user/findid/tel}" method="post" class="tab-pane active" id="findid"
                          role="tabpanel">
                        <div class="mb-3">
                            <label for="usernametel" class="form-label">이름</label>
                            <input type="text" id="usernametel" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumberId" class="form-label">휴대폰 번호</label>
                            <input type="tel" id="phoneNumberId" class="form-control"
                                   placeholder="'회원가입 시 등록한 휴대폰 번호 입력'">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm disabled">휴대폰 인증하기</button>
                    </form>
                </div>
            </div>
            <!-- 비밀번호 찾기 -->
            <div class="tab-content mt-3">
                <div class="tab-pane" id="findpw" role="tabpanel" aria-labelledby="findpw-tab">
                    <form th:action="@{/user/findpw}">
                        <div class="mb-3">
                            <label for="userid" class="form-label">사용자ID</label>
                            <input type="text" id="userid" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumberPw" class="form-label">휴대폰 번호</label>
                            <input type="email" id="phoneNumberPw" class="form-control"
                                   placeholder="'회원가입 시 등록한 휴대폰 번호 입력'">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm disabled">비밀번호 찾기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- tab 활성화 js -->
    <script th:inline="javascript">
        $('#bologna-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
        });
    </script>
</div>
</html>