<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:500px;">
    <div class="my-3 border-bottom">
        <h4>ID 찾기</h4>
    </div>
    <form th:action="@{/user/findid}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">이름</label>
            <input type="text" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="emailid" class="form-label">이메일</label>
            <input type="email" id="emailid" class="form-control" placeholder="'회원가입 시 등록한 이메일 주소 입력'">
        </div>
        <button type="submit" class="btn btn-primary">ID찾기</button>
    </form>
    <div style="height:50px;"></div>
    <div class="my-3 border-bottom">
        <h4>비밀번호 찾기</h4>
    </div>
    <form th:action="@{/user/findid}" method="post">
        <div class="mb-3">
            <label for="userid" class="form-label">사용자ID</label>
            <input type="text" id="userid" class="form-control">
        </div>
        <div class="mb-3">
            <label for="emailpw" class="form-label">이메일</label>
            <input type="email" id="emailpw" class="form-control" placeholder="'회원가입 시 등록한 이메일 주소 입력'">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </form>
</div>
</html>