<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">
    <div class="card mb-3">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#receivemessage" aria-selected="true">받은쪽지함</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sendmessage" role="tab" aria-selected="false">보낸쪽지함</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <!-- 받은 쪽지 목록 -->
            <div class="tab-content mt-3">
                <div class="tab-pane active" id="receivemessage" role="tabpanel">
                    <form th:action="@{/message/remove/receive}" method="post">
                        <div class="form-check position-relative boder-bottom" th:each="receiveMessageList : ${receiveMessageList}" style="border-bottom:1px solid rgba(0,0,0,0.2);">
                            <span th:if="${receiveMessageList.checked == false}" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                            <input class="form-check-input" type="checkbox" name="id"
                                   th:value="${receiveMessageList.id}"
                                   id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                            <div>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:href="@{|message/receive/detail/${receiveMessageList.id}|}">
                                    <div th:text="${receiveMessageList.content}"></div>
                                </a>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-bottom:10px;">
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div th:text="|보낸사람 : ${receiveMessageList.senderName}|"></div>
                                    <div th:text="${#temporals.format(receiveMessageList.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm" style="margin-top:20px;">삭제</button>
                    </form>
                </div>
            </div>
            <!-- 보낸 쪽지 목록 -->
            <div class="tab-content mt-3">
                <div class="tab-pane" id="sendmessage" role="tabpanel">
                    <form th:action="@{/message/remove/send}" method="post">
                        <div class="form-check" th:each="sendMessageList : ${sendMessageList}" style="border-bottom:1px solid rgba(0,0,0,0.2);">
                            <input class="form-check-input" type="checkbox" name="id" th:value="${sendMessageList.id}"
                                   id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                            <div>
                                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                   th:href="@{|message/send/detail/${sendMessageList.id}|}">
                                    <div th:text="${sendMessageList.content}"></div>
                                </a>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-bottom:10px;">
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div th:text="|받는사람 : ${sendMessageList.receiverName}|"></div>
                                    <div th:text="${#temporals.format(sendMessageList.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm" style="margin-top:20px;">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- tab 활성화 js -->
    <script th:inline="javascript">
        $('#bologna-list a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
        });
    </script>
</div>
</html>