<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3" style="width:500px;">
        <div class="my-3 border-bottom">
            <h4>프로필 수정</h4>
        </div>
        <!-- 정보 수정 입력 폼 -->
        <form th:action="@{|/user/modify/${user.id}|}" th:object="${userModifyForm}" method="post" enctype="multipart/form-data">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="nickname" class="form-label">닉네임</label>
                <input type="text" th:field="${user.nickname}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호 변경</label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 변경 확인</label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="${user.email}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">전화번호</label>
                <input type="tel" th:field="${user.phoneNumber}" class="form-control" placeholder="숫자만 입력 가능">
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">연봉</label>
                <input type="text" th:field="${user.salary}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="profileImg" class="form-label">프로필사진</label>
                <input type="file" th:field="*{profileImg}" name="profileImg" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">보유스킬</label>
                <div style="display:flex; flex-wrap:wrap; height:80px;">
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="1" name="skill" value="HTML">
                        <label class="btn btn-secondary btn-sm" for="1">HTML</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="2" name="skill" value="CSS">
                        <label class="btn btn-secondary btn-sm" for="2">CSS</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="3" name="skill" value="JS">
                        <label class="btn btn-secondary btn-sm" for="3">JS</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="4" name="skill" value="C">
                        <label class="btn btn-secondary btn-sm" for="4">C</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="5" name="skill" value="C++">
                        <label class="btn btn-secondary btn-sm" for="5">C++</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="6" name="skill" value="Java">
                        <label class="btn btn-secondary btn-sm" for="6">Java</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="7" name="skill" value="Python">
                        <label class="btn btn-secondary btn-sm" for="7">Python</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="8" name="skill" value="SQL">
                        <label class="btn btn-secondary btn-sm" for="8">SQL</label>
                    </div>
                    <div style="margin-right:20px;">
                        <input class="btn-check" type="checkbox" id="9" name="skill" value="없음">
                        <label class="btn btn-secondary btn-sm" for="9">없음</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">정보수정</button>
        </form>

    </div>
</html>