<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">
<div class="card" style="width: 18rem;">
    <img th:src="${user.profileImg}" alt="프로필사진">
    <div class="card-body">
        <h5 class="card-title" th:text="${user.nickname}"></h5>
        <p class="card-text" th:text="${user.sex}"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text="|나이 : ${user.age}|"></li>
        <li class="list-group-item" th:text="|스킬 : ${user.skill}|"></li>
        <li class="list-group-item" th:text="|이메일 : ${user.email}|"></li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">쪽지 보내기</a>
        <a href="#" class="card-link">팀 초대하기</a>
    </div>
</div>
</div>
</html>