<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="display:flex;">
    <div class="card" style="width: 18rem;">
        <div style="display:flex; align-items:center; justify-content:center;">
            <img th:src="${user.profileImg}" alt="프로필사진" style="width:280px; height:280px; object-fit:cover;">
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${user.nickname}"></h5>
            <p class="card-text" th:text="${user.sex}"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="|나이 : ${user.age}|"></li>
            <li class="list-group-item">보유스킬
                <span class="btn btn-success btn-sm" th:each="skill : ${user.skillList}" th:text="${skill.skillName}"
                      style="margin-right:10px;"></span>
            </li>
            <li class="list-group-item" th:text="|이메일 : ${user.email}|"></li>
        </ul>
        <div class="card-body" style="display:flex; align-items:center;">
            <!-- 쪽지 보내기 모달 -->
            <a class="btn btn-success btn-sm open-modal" data-bs-toggle="modal" data-bs-target="#exampleModal"
               data-bs-whatever="@mdo" data-id="message-text" th:if="${#authentication.getPrincipal().getUsername() != user.username}">쪽지 보내기</a>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">쪽지 작성하기</h1>
                            <span th:text="|(받는 사람 : ${user.nickname})|"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{|/message/send/${user.id}|}" method="post">
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label"></label>
                                    <textarea class="form-control" id="message-text" name="message-text"
                                              rows="10"></textarea>
                                </div>
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기
                                </button>
                                <button type="submit" class="btn btn-primary btn-sm">보내기</button>
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
            <!-- 다른 사람 프로필 조회 시 -->
            <a th:if="${#authentication.getPrincipal().getUsername() != user.username}"
               href="#" class="btn btn-success btn-sm" style="margin-left:3px;">팀 초대하기</a>
            <a th:if="${#authentication.getPrincipal().getUsername() != user.username and isFollow=='false'}"
               th:href="@{|/user/follow/${user.id}|}" class="btn btn-success btn-sm"
               style="margin-left:3px;">팔로우</a>
            <a th:if="${#authentication.getPrincipal().getUsername() != user.username and isFollow=='true'}"
               th:href="@{|/user/unfollow/${user.id}|}" class="btn btn-success btn-sm"
               style="margin-left:3px;">팔로우 취소</a>
            <!-- 나의 프로필 조회 시 -->
            <a th:if="${#authentication.getPrincipal().getUsername() == user.username}"
               th:href="@{/user/message}" class="btn btn-success btn-sm" style="margin-left:3px;">쪽지함</a>
            <a th:if="${#authentication.getPrincipal().getUsername() == user.username}"
               th:href="@{|/user/modify/${user.id}|}" class="btn btn-success btn-sm" style="margin-left:3px;">정보수정</a>
        </div>
    </div>
    <div class="card" style="margin-left:30px; width:650px;">
        <h5 class="card-header">작성한 게시글
            <a href="#" style="font-size:14px;">전체보기</a>
        </h5>
        <div style="height:350px; overflow:scroll;">
            <div class="card-body" th:each="article : ${user.articleList}">
                <div class="my-3 border-bottom">
                    <a th:href="@{|/article/detail/${article.id}|}">
                        <h5 class="card-title" th:text="${article.subject}"></h5>
                    </a>
                    <p class="card-text" th:text="${article.content}"></p>
                </div>
            </div>
        </div>
        <h5 class="card-header">팔로워
            <span th:text="|${#lists.size(user.followerList)}명|"></span>
            <a href="#" style="font-size:14px;">전체보기</a>
        </h5>
        <div style="display:flex; overflow:scroll;">
            <div class="card-body" th:each="follower : ${followerUserList}" style="text-align:center;">
                <a th:href="@{|/user/profile/${follower.id}|}" style="font-size:12px;">
                    <img th:src="${follower.profileImg}" alt="" width="40" height="40" class="rounded-circle me-2"
                         style="border:1px solid gray;">
                    <strong th:text="${follower.nickname}"></strong>
                </a>
            </div>
        </div>
        <h5 class="card-header">팔로잉
            <span th:text="|${#lists.size(user.followingList)}명|"></span>
            <a href="#" style="font-size:14px;">전체보기</a>
        </h5>
        <div style="display:flex; overflow:scroll;">
            <div class="card-body" th:each="following : ${followingUserList}" style="text-align:center;">
                <a th:href="@{|/user/profile/${following.id}|}" style="font-size:12px;">
                    <img th:src="${following.profileImg}" alt="" width="40" height="40" class="rounded-circle me-2"
                         style="border:1px solid gray;">
                    <strong th:text="${following.nickname}"></strong>
                </a>
            </div>
        </div>
    </div>
</div>
</html>