<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:800px;">
    <div class="card">
        <div class="card-header">
            <h5>받은 메세지</h5>
        </div>
        <div class="card-body">
            <p class="card-text" th:utext="${Message.content}"></p>
            <div th:text="|받는 사람 : ${Message.receiverName}|"></div>
        </div>
        <div class="card-footer text-body-secondary">
            <a th:href="@{/user/message}" class="btn btn-primary btn-sm">뒤로가기</a>
        </div>
    </div>
</html>