<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="width:500px;">
    <div class="my-3 border-bottom">
        <h4>회원가입</h4>
    </div>
    <!--  파일 첨부 받는거 -->
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" enctype="multipart/form-data">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="tel" th:field="*{phoneNumber}" class="form-control" placeholder="숫자만 입력 가능">
        </div>
        <div class="mb-3">
            <label for="sex" class="form-label">성별</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="sex" value="남">
                    <label class="form-check-label" for="inlineRadio1">남</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="sex" value="여">
                    <label class="form-check-label" for="inlineRadio2">여</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">나이</label>
            <input type="text" th:field="*{age}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">연봉</label>
            <input type="text" th:field="*{salary}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="profileImg" class="form-label">프로필사진</label>
            <input type="file" th:field="*{profileImg}" name="file" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">보유스킬</label>
            <div style="display:flex; height:80px;">
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="1" name="skill" value="HTML">
                    <label class="btn btn-secondary btn-sm" for="1">HTML</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="2" name="skill" value="CSS">
                    <label class="btn btn-secondary btn-sm" for="2">CSS</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="3" name="skill" value="JS">
                    <label class="btn btn-secondary btn-sm" for="3">JS</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="4" name="skill" value="C">
                    <label class="btn btn-secondary btn-sm" for="4">C</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="5" name="skill" value="C++">
                    <label class="btn btn-secondary btn-sm" for="5">C++</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="6" name="skill" value="Java">
                    <label class="btn btn-secondary btn-sm" for="6">Java</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="7" name="skill" value="Python">
                    <label class="btn btn-secondary btn-sm" for="7">Python</label>
                </div>
                <div style="margin-right:20px;">
                    <input class="btn-check" type="checkbox" id="8" name="skill" value="SQL">
                    <label class="btn btn-secondary btn-sm" for="8">SQL</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>