<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">


    <div style="max-width:1200px" class="pb-5 px-3 w-100 bg-body">
        <div class="border-bottom border-black">
            <h1>DevComMain</h1>
        </div>
        <!--    like_hit_comment navigation   -->
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header ">
                            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#like" role="tab" aria-controls="like" aria-selected="true">Like</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="#hit" role="tab" aria-controls="hit" aria-selected="false">Hit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comment</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Like</h4>
                            <h6 class="card-subtitle mb-2">좋아요를 많이 받은 글들</h6>

                            <div class="tab-content mt-3">
                                <div class="tab-pane active" id="like" role="tabpanel">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr  class="border-bottom">
                                                <td scop="row"><p style=" font-size: 12px; width: 90px;" class=" fw-bold">front</p></td>
                                                <td><p style="width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    long long long long long long long long long long long long </p>
                                                </td>
                                                <td>body3</td>
                                                <td>body4</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <td scop="row"><p style="font-size: 12px; width: 90px;" class="fw-bold">front</p></td>
                                                <td><p style="width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    long long long long long long long long long long long long </p>
                                                </td>
                                                <td>body3</td>
                                                <td>body4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="hit" role="tabpanel" aria-labelledby="like-tab">
                                    <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman colony and municipium with the name of Bononia in 196 BCE. </p>
                                    <a href="#" class="card-link text-danger">Read more</a>
                                </div>

                                <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
                                    <p class="card-text">Immerse yourself in the colours, aromas and traditions of Emilia-Romagna with a holiday in Bologna, and discover the city's rich artistic heritage.</p>
                                    <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- category start  -->
        <div style="flex-wrap: wrap;" class="d-flex  ">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1  border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2nd line-->
        <div style="flex-wrap: wrap;" class="d-flex">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless ">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--  top navigation javascript  -->
    <script th:inline="javascript">

        $('#bologna-list a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
});
    </script>
</div>

</html>