<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container mb-3">


    <div style="max-width:1200px" class="px-3 py-2 w-100 bg-body rounded-3">
        <div class="border-bottom border-black">
            <h1>DevComMain</h1>
        </div>
        <!--    like_hit_comment navigation   -->
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg">
                    <div class="card shadow">
                        <div class="card-header ">
                            <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#like" role="tab" aria-controls="like" aria-selected="true">Like</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href="#hit" role="tab" aria-controls="hit" aria-selected="false">Hit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comment</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content mt-3">

                                <div class="tab-pane active" id="like" role="tabpanel">
                                    <h4 class="card-title">Like</h4>
                                    <h6 class="card-subtitle mb-2">좋아요를 많이 받은 글들</h6>
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr th:each="article : ${likesPage}" class="border-bottom">
                                                <td scop="row"><a th:href="@{|/article/${article.category.getCategoryName}|}" style="text-decoration: none; font-size: 12px; width: 90px;" class="text-black fw-bold">[[${article.category.getCategoryName}]]</a></td>
                                                <td><p style="width:550px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <a th:href="@{|/article/detail/${article.id}|}" style="text-decoration: none;" class="text-black fw-bold">
                                                        [[${article.subject}]]</a></p>
                                                </td>
                                                <td><span>👍</span>[[${article.likes}]]</td>
                                                <td><span>👀</span>[[${article.hit}]]</td>
                                                <td><span>💬</span>[[${article.commentSize}]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="hit" role="tabpanel" aria-labelledby="hit-tab">
                                    <h4 class="card-title">Hit</h4>
                                    <h6 class="card-subtitle mb-2">조회수가 많은 글들</h6>
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr th:each="article : ${hitPage}" class="border-bottom">
                                            <td scop="row"><a th:href="@{|/article/${article.category.getCategoryName}|}" style="text-decoration: none; font-size: 12px; width: 90px;" class="text-black fw-bold">[[${article.category.getCategoryName}]]</a></td>
                                            <td><p style="width:550px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <a tth:href="@{|/article/detail/${article.id}|}" style="text-decoration: none;" class="text-black fw-bold">
                                                    [[${article.subject}]]</a></p>
                                            </td>
                                            <td><span>👍</span>[[${article.likes}]]</td>
                                            <td><span>👀</span>[[${article.hit}]]</td>
                                            <td><span>💬</span>[[${article.commentSize}]]</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="comment" role="tabpanel" aria-labelledby="commentSize-tab">
                                    <h4 class="card-title">Comment</h4>
                                    <h6 class="card-subtitle mb-2">댓글이 많은 글들</h6>
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr th:each="article : ${commentSizePage}" class="border-bottom">
                                            <td scop="row"><a th:href="@{|/article/${article.category.getCategoryName}|}" style="text-decoration: none; font-size: 12px; width: 90px;" class="text-black fw-bold">[[${article.category.getCategoryName}]]</a></td>
                                            <td><p style="width:550px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <a th:href="@{|/article/detail/${article.id}|}" style="text-decoration: none;" class="text-black fw-bold">
                                                    [[${article.subject}]]</a></p>
                                            </td>
                                            <td><span>👍</span>[[${article.likes}]]</td>
                                            <td><span>👀</span>[[${article.hit}]]</td>
                                            <td><span>💬</span>[[${article.commentSize}]]</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- category start  -->
        <div style="flex-wrap: wrap;" class="d-flex  px-2 ">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-2 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th><a th:href="@{/article/frontEnd}" style="text-decoration:none; color:black;">#FrontEnd</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${frontEndPage}" class="border-bottom">
                        <td><a th:href="@{|/article/detail/${article.id}|}" style="text-decoration:none;" class="text-black fw-bold"><p style="width:250px; white-space: nowrap; overflow: hidden;
                         text-overflow: ellipsis; ">
                            [[${article.subject}]]</p></a>
                        </td>
                        <td><span>👍</span>[[${article.likes}]]</td>
                        <td><span>💬</span>[[${article.commentSize}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-2 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th><a th:href="@{/article/backEnd}" style="text-decoration:none; color:black;">#BackEnd</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${backEndPage}" class="border-bottom">
                        <td><a th:href="@{|/article/detail/${article.id}|}" style="text-decoration:none;" class="text-black fw-bold"><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                                ">[[${article.subject}]]</p></a>
                        </td>
                        <td><span>👍</span>[[${article.likes}]]</td>
                        <td><span>💬</span>[[${article.commentSize}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2nd line-->
        <div style="flex-wrap: wrap;" class="d-flex px-2">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1">
                <table class="table table-borderless ">
                    <thead class="border-bottom">
                    <tr>
                        <th><a th:href="@{/article/dataEngineer}" style="text-decoration:none; color:black;">#dataEngineer</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${dataEngineerPage}" class="border-bottom">
                        <td><a th:href="@{|/article/detail/${article.id}|}" style="text-decoration:none;" class="text-black fw-bold"><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                                ">[[${article.subject}]]</p></a>
                        </td>
                        <td><span>👍</span>[[${article.likes}]]</td>
                        <td><span>💬</span>[[${article.commentSize}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th><a th:href="@{/article/AI}" style="text-decoration:none; color:black;">#AI</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${AIPage}" class="border-bottom">
                        <td><a th:href="@{|/article/detail/${article.id}|}" style="text-decoration:none;" class="text-black fw-bold"><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                            ">[[${article.subject}]]</p></a>
                        </td>
                        <td><span>👍</span>[[${article.likes}]]</td>
                        <td><span>💬</span>[[${article.commentSize}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--  top navigation javascript  -->
    <script th:inline="javascript">

        $('#bologna-list a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
});
    </script>
</div>

</html>