<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="max-width:1200px" class="pb-5 px-3 w-100 bg-body">
        <div class="border-bottom border-black">
            <h1>DevComMain</h1>
        </div>
        <!--    like_hit_comment    -->
        <div style="flex-wrap: wrap; box-shadow: 0 3px 3px rgba(0,0,0,0.2); " class=" d-flex flex-column border border-black mt-3">
            <div style="flex-basis:0; " class="flex-grow-1 border my-3 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th scope="col">#like</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scop="row"><p style="font-size: 12px; width: 90px;" class="fw-bold">Back</p></td>
                        <td><p style="width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis:0; " class="flex-grow-1 border my-3 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th scope="col">#hit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scop="row"><p style="font-size: 12px; width: 90px;" class="fw-bold">Android</p></td>
                        <td><p style="width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            long </p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis:0; " class="flex-grow-1 border my-3 mx-1">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th scope="col">#comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td scope="row"><p style="font-size: 12px; width: 90px;" class="fw-bold">Back</p></td>
                        <td><p style="width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- category start  -->
        <div style="flex-wrap: wrap;" class="d-flex  ">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1  border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2nd line-->
        <div style="flex-wrap: wrap;" class="d-flex">
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless ">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0; box-shadow: 0 3px 3px rgba(0,0,0,0.2);" class="flex-grow-1 border my-3 mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="width:250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>