<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div style="max-width:1000px" class="pb-5 px-3 w-100 bg-body">
        <div class="border-bottom border-black">
            <h1>DevComMain</h1>
        </div>

        <div style="flex-wrap: wrap;" class="d-flex my-5 ">
            <div style="flex-basis: 0;" class="flex-grow-1  border mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head1</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="font-size: 12px;" class="fw-bold">AI</p></td>
                        <td><p style="width:200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0;" class="flex-grow-1 border mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="font-size: 12px;" class="fw-bold">웹 개발자</p></td>
                        <td><p style="width:200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p></td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 2nd line-->
        <div style="flex-wrap: wrap;" class="d-flex">
            <div style="flex-basis: 0;" class="flex-grow-1 border mx-1 pb-5">
                <table class="table table-borderless ">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="font-size: 12px;" class="fw-bold">안드로이드 앱 개발자</p></td>
                        <td><p style="width:200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p>
                        </td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex-basis: 0;" class="flex-grow-1 border mx-1 pb-5">
                <table class="table table-borderless">
                    <thead class="border-bottom">
                    <tr>
                        <th>#head4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p style="font-size: 12px;" class="fw-bold">애플 앱 개발자</p></td>
                        <td><p style="width:200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> long longlonglonglonglonglonglonglonglonglonglonglonglonglonglong longlonglonglonglong</p></td>
                        <td>body3</td>
                        <td>body4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>